.material-symbols-outlined {
  font-variation-settings:
          'FILL' 1,
          'wght' 300,
          'GRAD' 0,
          'opsz' 48
}

.page-container {
  font-family: "Roboto", sans-serif;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 98vh;
}


td, th {
  white-space: nowrap;
}

.selection-container {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 1px;
  height: 30px;
  border-radius: 30px/100%;
  margin: 5px;
}


.selection-container .option {
  background-color: transparent;
  margin: 1px;
  border-radius: 30px/100%;
  height: 28px;
  border: none;
  color: #63666A;
  flex-grow: 1;
}

.selection-container .option:not(.selected):hover {
  background-color: rgba(255,255,255,0.4);
}

.selection-container .selected {
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: black;
}



.config-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  border: none;
  background-color: transparent;
  margin: 3px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  right: 0;
  position: absolute;
}

.config-button span::after{
  content: "settings";
}

.config-button:hover {
  background-color: rgba(0,0,0,0.1);
}

#settings-menu-button:checked ~ .config-button span::after{
  content: "arrow_forward_ios";
}

.config-menu-container:has(#settings-menu-button:checked) ~ .content{
  margin-right: 200px;
}

.config-menu-container:has(#settings-menu-button:checked){
  background-color: white;
  width: 200px;
  height: calc(100vh - 72px);
}

#settings-menu-button {
  display: none;
}

.config-menu-container{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 0px;
  padding: 40px 10px 10px;
  background: transparent;
  overflow: hidden;
  transition: container-expand 0.2s;
  display: inline-block;
}

.row{
  width: 100%;
  overflow-x: scroll;
}