.material-symbols-outlined {
  font-variation-settings:
          'FILL' 1,
          'wght' 300,
          'GRAD' 0,
          'opsz' 48
}

.page-container {
  font-family: "Roboto", sans-serif;
  margin-right: 200px;
  overflow-x: auto;
  height: 98vh;
}


td, th {
  white-space: nowrap;
}

.selection-container {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 1px;
  height: 30px;
  border-radius: 30px/100%;
  margin: 5px;
}


.selection-container .option {
  background-color: transparent;
  margin: 1px;
  border-radius: 30px/100%;
  height: 28px;
  border: none;
  color: #63666A;
  flex-grow: 1;
}

.selection-container .option:not(.selected):hover {
  background-color: rgba(255,255,255,0.4);
}

.selection-container .selected {
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: black;
}

.valued-item-container {
  height: 25px;
  border: 1px solid #41b349;
  border-radius: 6px;
  display: inline-flex;
  margin: 3px;
}

.valued-item-container .icon {
  height: 100%;
  object-fit: cover;
}

.valued-item-container .split-line {
  flex-grow: 1;
  width: 1px;
  background-color: #41b349;
}

.valued-item-container .text-value {
  align-items: center;
  justify-content: center;
  padding: 5px;
  display: flex;
}


.config-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  border: none;
  background-color: transparent;
  margin: 3px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  right: 0;
  position: fixed;
}

.config-button span::after{
  content: "settings";
}

.config-button:hover {
  background-color: rgba(0,0,0,0.1);
}

#settings-menu-button:checked ~ .config-button span::after{
  content: "arrow_forward_ios";
}

#settings-menu-button:checked ~ .config-menu {
  display: block;
}

#settings-menu-button {
  display: none;
}

.config-menu-container{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: calc(100vh - 96px);
  padding: 10px;
  background: transparent;
}

.config-menu {
  //border-left: 1px solid gray;
  padding: 10px;
  background-color: white;
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%;
}
